
body {

	margin: 0 auto;
	max-width:50em;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
	color: #555;
	background-color:#faebd7;
	text-align:center;

}


a:link {

	color:blue;
	text-decoration: none;
}

a:visited {

	text-decoration: none;
	color:green;
}

a:hover {

	color:red;
	text-decoration: underline;

}

a:active {

	color:blue;
	text-decoration: none;
}


table { 

	margin:auto;

 }

 td {

 	font-style: italic;

 }

code,
pre {
 
  background: #eee;
}


code {
  
  padding: 2px 4px;
  vertical-align: text-bottom;
}


pre {
  
  padding: 1em;
}


h1,
h2,
strong { 
	
	color:333; 
	text-decoration: underline;
}




h2 {
	margin-top: 1em;
	padding-top: 1em;
}




img {
	width:400px;
	height:545px;
	margin:auto;
}


li { 
	

	 }

{
	width:100%;
	margin:auto;
}

title { 
	
	text-align: center; 

}

#body {

	width:100%;
	margin:auto;
	text-align: center;
}