
body { 

	font-family: 'Trirong', serif;
	font-size:18px;

}

.header ul{

	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:gray;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color:red;
}

a:hover {
    text-decoration: underline;
    font-weight:bold;
}

a:active {
    text-decoration: none;
}


.header li { 
	float: left; 
	padding:4px;
}




.footer{

	text-align:center;
	font-weight:bold;
	clear:both;


}
